pillow==10.2.0
zlib==1.2.13
pip==23.3.1
wheel==0.41.2
openssl==3.0.13
numpy==1.26.4
setuptools==68.2.2
certifi==2024.2.2
urllib3==2.2.1
six==1.16.0
python-dateutil==2.9.0.post0
matplotlib==3.8.0
idna==3.6
contourpy==1.2.0
fonttools==4.50.0
pyparsing==3.1.2
cycler==0.12.1
packaging==24.0
kiwisolver==1.4.5
requests==2.31.0